![Ironhack logo](https://i.imgur.com/1QgrNNw.png)

# Lab | Dataframe Calculation and Transformation

## Introduction

We have learned the basics of dataframe calculation, aggregation, and summarization in the lesson. In this lab you will practice the functions covered in the lessons and learn more advanced ones by solving a series of challenges.

In this lab we also want you to focus on refining your problem-solving process in addition to completing the challenges. Data analysis is an iterative problem-solving process. You will need to break down a complex problem into a subset of less complex problems, then tackle each sub problems in a progressive order. You may need to further break down the sub problems into sub-sub problems and so on so forth depending on the complexity of those problems. You will keep breaking down the problems until you are able to solve each of them.

During the problem-solving process, you are required to constantly test your solutions and reflect on your goals and problem-solving strategies. You may be required to revise the problem-solving strategies and sometimes redefine the problem subsets based on your latest discoveries.

Keep in mind the general guidelines above when you conduct data analysis in this lab and in the future. You need to learn this scientific research methodology if you want to become a successful data analyst. For a detailed explanation of the iterative data analysis workflow, watch [this YouTube video](https://www.youtube.com/watch?v=xOomNicqbkk).

**You are required to watch the above video before proceeding.**


## Resources

[Data Analysis Iteration](https://www.youtube.com/watch?v=xOomNicqbkk)

[Pokemon with Stats](https://www.kaggle.com/abcsds/pokemon)

[Google Search: get all numeric columns in dataframe](https://www.google.com/search?q=pandas+dataframe+get+all+numeric+columns)

[One Hot Encoding](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f)

# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd 
import numpy as np

#### Import data set.

Import data set `Pokemon`. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

#### Print first 10 rows of `pokemon`.

Expected output:
    
>
>|    |   # | Name                      | Type 1   | Type 2   |   Total |   HP |   Attack |   Defense |   Sp. Atk |   Sp. Def |   Speed |   Generation | Legendary   |
|---:|----:|:--------------------------|:---------|:---------|--------:|-----:|---------:|----------:|----------:|----------:|--------:|-------------:|:------------|
|  0 |   1 | Bulbasaur                 | Grass    | Poison   |     318 |   45 |       49 |        49 |        65 |        65 |      45 |            1 | False       |
|  1 |   2 | Ivysaur                   | Grass    | Poison   |     405 |   60 |       62 |        63 |        80 |        80 |      60 |            1 | False       |
|  2 |   3 | Venusaur                  | Grass    | Poison   |     525 |   80 |       82 |        83 |       100 |       100 |      80 |            1 | False       |
|  3 |   3 | VenusaurMega Venusaur     | Grass    | Poison   |     625 |   80 |      100 |       123 |       122 |       120 |      80 |            1 | False       |
|  4 |   4 | Charmander                | Fire     | nan      |     309 |   39 |       52 |        43 |        60 |        50 |      65 |            1 | False       |
|  5 |   5 | Charmeleon                | Fire     | nan      |     405 |   58 |       64 |        58 |        80 |        65 |      80 |            1 | False       |
|  6 |   6 | Charizard                 | Fire     | Flying   |     534 |   78 |       84 |        78 |       109 |        85 |     100 |            1 | False       |
|  7 |   6 | CharizardMega Charizard X | Fire     | Dragon   |     634 |   78 |      130 |       111 |       130 |        85 |     100 |            1 | False       |
|  8 |   6 | CharizardMega Charizard Y | Fire     | Flying   |     634 |   78 |      104 |        78 |       159 |       115 |     100 |            1 | False       |
|  9 |   7 | Squirtle                  | Water    | nan      |     314 |   44 |       48 |        65 |        50 |        64 |      43 |            1 | False       |

In [8]:
pokemon = pd.read_csv('data-/data/Pokemon.csv', sep = ',')
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [80]:
uniqueValues1 = pd.unique(pokemon[['Type 1', 'Type 2']].values.ravel())
uniqueValues1

array(['Grass', 'Poison', 'Fire', nan, 'Flying', 'Dragon', 'Water', 'Bug',
       'Normal', 'Electric', 'Ground', 'Fairy', 'Fighting', 'Psychic',
       'Rock', 'Steel', 'Ice', 'Ghost', 'Dark'], dtype=object)

In [83]:
uniqueValues2 = (set(pokemon['Type 1']).union(set(pokemon['Type 2'])))
uniqueValues2

{'Bug',
 'Dark',
 'Dragon',
 'Electric',
 'Fairy',
 'Fighting',
 'Fire',
 'Flying',
 'Ghost',
 'Grass',
 'Ground',
 'Ice',
 'Normal',
 'Poison',
 'Psychic',
 'Rock',
 'Steel',
 'Water',
 nan}

In [82]:
uniqueValues3 = (pokemon['Type 1'].append(pokemon['Type 2'])).unique()
uniqueValues3

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying', nan], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

**Example of output (You can create a new column or reassign the column 'Name'):**

>
>|    |   # | Name                  | Type 1   | Type 2   |   Total |   HP |   Attack |   Defense |   Sp. Atk |   Sp. Def |   Speed |   Generation | Legendary   | name_rec      |
|---:|----:|:----------------------|:---------|:---------|--------:|-----:|---------:|----------:|----------:|----------:|--------:|-------------:|:------------|:--------------|
|  0 |   1 | Bulbasaur             | Grass    | Poison   |     318 |   45 |       49 |        49 |        65 |        65 |      45 |            1 | False       | Bulbasaur     |
|  1 |   2 | Ivysaur               | Grass    | Poison   |     405 |   60 |       62 |        63 |        80 |        80 |      60 |            1 | False       | Ivysaur       |
|  2 |   3 | Venusaur              | Grass    | Poison   |     525 |   80 |       82 |        83 |       100 |       100 |      80 |            1 | False       | Venusaur      |
|  3 |   3 | VenusaurMega Venusaur | Grass    | Poison   |     625 |   80 |      100 |       123 |       122 |       120 |      80 |            1 | False       | Mega Venusaur |
|  4 |   4 | Charmander            | Fire     | nan      |     309 |   39 |       52 |        43 |        60 |        50 |      65 |            1 | False       | Charmander    |
|  ... |  ... |  ... |  ... |  ... |  ... |  ... |  ... |  ... |  ... |  ... |  ... |  ... |  ... |  ... |

In [111]:
pokemon['name_rec'] = pokemon['Name'].str.replace('.*Mega', 'Mega') 
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Charmeleon
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Charizard
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Mega Charizard X
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Mega Charizard Y
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,Squirtle

In [112]:
import re
pokemon['name_rec'] = [re.sub('\w*Mega', 'Mega', word) for word in pokemon['Name']]
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Charmeleon
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Charizard
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Mega Charizard X
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Mega Charizard Y
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,Squirtle

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

Expected output:

>
>|    |   # | Name      | Type 1   | Type 2   |   Total |   HP |   Attack |   Defense |   Sp. Atk |   Sp. Def |   Speed |   Generation | Legendary   | name_rec   |   A/D Ratio |
|---:|----:|:----------|:---------|:---------|--------:|-----:|---------:|----------:|----------:|----------:|--------:|-------------:|:------------|:-----------|------------:|
|  0 |   1 | Bulbasaur | Grass    | Poison   |     318 |   45 |       49 |        49 |        65 |        65 |      45 |            1 | False       | Bulbasaur  |    1        |
|  1 |   2 | Ivysaur   | Grass    | Poison   |     405 |   60 |       62 |        63 |        80 |        80 |      60 |            1 | False       | Ivysaur    |    0.984127 |
| ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... |

In [116]:
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']
pokemon.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur,0.984127

In [132]:
pokemon['A/D Ratio'] = pokemon.Attack.div(pokemon.Defense)
pokemon.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur,0.984127

#### Identify the pokemon with the highest `A/D Ratio`.

In [130]:
pokemon['A/D Ratio'].max()
pokemon.loc[(pokemon['A/D Ratio'] == 9)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,DeoxysAttack Forme,9.0

In [133]:
pokemon['A/D Ratio'].idxmax()
pokemon.iloc[429]

#                            386
Name          DeoxysAttack Forme
Type 1                   Psychic
Type 2                       NaN
Total                        600
HP                            50
Attack                       180
Defense                       20
Sp. Atk                      180
Sp. Def                       20
Speed                        150
Generation                     3
Legendary                   True
name_rec      DeoxysAttack Forme
A/D Ratio                      9
Name: 429, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [136]:
pokemon.loc[(pokemon['A/D Ratio'] == pokemon['A/D Ratio'].min())]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,Shuckle,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

Expected output:

>
>|    |   # | Name      | Type 1   | Type 2   |   Total |   HP |   Attack |   Defense |   Sp. Atk |   Sp. Def |   Speed |   Generation | Legendary   | name_rec   |   A/D Ratio | Combo Type   |
|---:|----:|:----------|:---------|:---------|--------:|-----:|---------:|----------:|----------:|----------:|--------:|-------------:|:------------|:-----------|------------:|:-------------|
|  0 |   1 | Bulbasaur | Grass    | Poison   |     318 |   45 |       49 |        49 |        65 |        65 |      45 |            1 | False       | Bulbasaur  |    1        | Grass-Poison |
|  1 |   2 | Ivysaur   | Grass    | Poison   |     405 |   60 |       62 |        63 |        80 |        80 |      60 |            1 | False       | Ivysaur    |    0.984127 | Grass-Poison |
| ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... |

In [195]:
pokemon['Combo Type'] = pokemon['Type 1']  + '-' + pokemon['Type 2']
pokemon.loc[pokemon['Combo Type'].isnull(),'Combo Type'] = pokemon['Type 1']
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur,0.987952,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander,1.209302,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Charmeleon,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Charizard,1.076923,Fire-Flying
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Mega Charizard X,1.171171,Fire-Dragon
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Mega Charizard Y,1.333333,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,Squirtle,0.738462,Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

Expected output:
    
>
>|     |   # | Name                  | Type 1   | Type 2   |   Total |   HP |   Attack |   Defense |   Sp. Atk |   Sp. Def |   Speed |   Generation | Legendary   | name_rec           |   A/D Ratio | Combo Type   |
|----:|----:|:----------------------|:---------|:---------|--------:|-----:|---------:|----------:|----------:|----------:|--------:|-------------:|:------------|:-------------------|------------:|:-------------|
| 429 | 386 | DeoxysAttack Forme    | Psychic  | nan      |     600 |   50 |      180 |        20 |       180 |        20 |     150 |            3 | True        | DeoxysAttack Forme |       9     | Psychic      |
| 347 | 318 | Carvanha              | Water    | Dark     |     305 |   45 |       90 |        20 |        65 |        20 |      65 |            3 | False       | Carvanha           |       4.5   | Dark-Water   |
|  19 |  15 | BeedrillMega Beedrill | Bug      | Poison   |     495 |   65 |      150 |        40 |        15 |        80 |     145 |            1 | False       | Mega Beedrill      |       3.75  | Bug-Poison   |
| 453 | 408 | Cranidos              | Rock     | nan      |     350 |   67 |      125 |        40 |        30 |        30 |      58 |            4 | False       | Cranidos           |       3.125 | Rock         |
| 348 | 319 | Sharpedo              | Water    | Dark     |     460 |   70 |      120 |        40 |        95 |        40 |      95 |            3 | False       | Sharpedo           |       3     | Dark-Water   |

In [220]:
pokemon.sort_values(by = 'A/D Ratio', ascending = False).head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,DeoxysAttack Forme,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,Carvanha,4.500,Water-Dark
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,Mega Beedrill,3.750,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,Cranidos,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,Sharpedo,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [241]:
pokemon.sort_values(by = 'A/D Ratio', ascending = False).head(5)['Combo Type'].unique().tolist()

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

In [319]:
pokemon.nlargest(5,'A/D Ratio')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_rec,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,DeoxysAttack Forme,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,Carvanha,4.500,Water-Dark
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,Mega Beedrill,3.750,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,Cranidos,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,Sharpedo,3.000,Water-Dark

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [318]:
records = pokemon.nlargest(5,'A/D Ratio')['Combo Type'].unique().tolist()
mask = pokemon['Combo Type'].isin(records)
results = pokemon[mask]
results.groupby('Combo Type').mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Bug-Poison,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315989
Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164196
Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.260091
Water-Dark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291949