![Ironhack logo](https://i.imgur.com/1QgrNNw.png)

# Lab | Data Cleaning

## Introduction

We keep seeing a common phrase that 80% of the work of a data scientist is data cleaning. We have no idea whether this number is accurate but a data scientist indeed spends lots of time and effort in collecting, cleaning and preparing the data for analysis. This is because datasets are usually messy and complex in nature. It is a very important ability for a data scientist to refine and restructure datasets into a usable state in order to proceed to the data analysis stage.

In this exercise, you will both practice the data cleaning techniques we discussed in the lesson and learn new techniques by looking up documentations and references. You will work on your own but remember the teaching staff is at your service whenever you encounter problems.

## Getting Started

Read the instructions for each cell and provide your answers. Make sure to test your answers in each cell and save. Jupyter Notebook should automatically save your work progress. But it's a good idea to periodically save your work manually just in case.


## Resources

[Data Cleaning Tutorial](https://www.tutorialspoint.com/python/python_data_cleansing.html)

[Data Cleaning with Numpy and Pandas](https://realpython.com/python-data-cleaning-numpy-pandas/#python-data-cleaning-recap-and-resources)

[Data Cleaning Video](https://www.youtube.com/watch?v=ZOX18HfLHGQ)

[Data Preparation](https://www.kdnuggets.com/2017/06/7-steps-mastering-data-preparation-python.html)

[Google Search](https://www.google.es/search?q=how+to+clean+data+with+python)

# Data Cleaning

In [106]:
import pandas as pd

# Read the users dataset.

Take a look at what is the `users.csv` separator.

In [107]:
users = pd.read_csv('users.csv', sep = '#')
users

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40498,6726,1,2011-10-09 13:16:20,AlexAtStack,2012-05-18 09:32:44,NaN,NaN,NaN,0,0,0,203972,NaN,NaN
40499,53426,101,2014-08-05 07:54:54,John J. Camilleri,2014-08-05 08:54:37,http://johnjcamilleri.com,"Gothenburg, Sweden","<p>Accidental computational linguist, de facto...",1,2,0,34865,28.0,https://www.gravatar.com/avatar/5738c02070833b...
40500,21468,101,2013-03-02 07:50:03,Peter L.,2013-03-02 07:50:03,http://www.a1qa.com/,"Minsk, Belarus","<p>QA Manager with comprehensive, cold-blooded...",1,0,0,2211454,32.0,http://www.gravatar.com/avatar/cbd80a5b2a5257d...
40501,54132,1,2014-08-15 10:52:25,user54132,2014-08-15 10:52:25,NaN,NaN,NaN,1,0,0,4894117,NaN,NaN
40502,39943,1,2014-02-10 20:55:19,user1133128,2014-02-10 20:55:19,NaN,NaN,NaN,0,0,0,1151526,NaN,https://www.gravatar.com/avatar/8e983e68f44d99...

## Check its shape

See the number of rows and columns you're dealing.

In [108]:
users.shape

(40503, 14)

## Use the .head() to see some rows of your dataframe.

In [109]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

## Get the data info. 

Which columns have a great number of missing values? How many space does this dataframe is occupying in your memory?

Expected output:
````
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40503 entries, 0 to 40502
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype  
---  ------           --------------  -----  
 0   Id               40503 non-null  int64  
 1   Reputation       40503 non-null  int64  
 2   CreationDate     40503 non-null  object 
 3   DisplayName      40497 non-null  object 
 4   LastAccessDate   40503 non-null  object 
 5   WebsiteUrl       8158 non-null   object 
 6   Location         11731 non-null  object 
 7   AboutMe          9424 non-null   object 
 8   Views            40503 non-null  int64  
 9   UpVotes          40503 non-null  int64  
 10  DownVotes        40503 non-null  int64  
 11  AccountId        40503 non-null  int64  
 12  Age              8352 non-null   float64
 13  ProfileImageUrl  16540 non-null  object 
dtypes: float64(1), int64(6), object(7)
memory usage: 4.3+ MB
````

In [110]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40503 entries, 0 to 40502
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               40503 non-null  int64
 1   Reputation       40503 non-null  int64
 2   CreationDate     40503 non-null  object
 3   DisplayName      40497 non-null  object
 4   LastAccessDate   40503 non-null  object
 5   WebsiteUrl       8158 non-null   object
 6   Location         11731 non-null  object
 7   AboutMe          9424 non-null   object
 8   Views            40503 non-null  int64
 9   UpVotes          40503 non-null  int64
 10  DownVotes        40503 non-null  int64
 11  AccountId        40503 non-null  int64
 12  Age              8352 non-null   float64
 13  ProfileImageUrl  16540 non-null  object
dtypes: float64(1), int64(6), object(7)
memory usage: 4.3+ MB

## Rename Id column to user_id.

Remember to store you results back at the dataframe.

In [111]:
users.rename({'Id': 'user_id'}, axis = 1, inplace = True)
users

,user_id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40498,6726,1,2011-10-09 13:16:20,AlexAtStack,2012-05-18 09:32:44,NaN,NaN,NaN,0,0,0,203972,NaN,NaN
40499,53426,101,2014-08-05 07:54:54,John J. Camilleri,2014-08-05 08:54:37,http://johnjcamilleri.com,"Gothenburg, Sweden","<p>Accidental computational linguist, de facto...",1,2,0,34865,28.0,https://www.gravatar.com/avatar/5738c02070833b...
40500,21468,101,2013-03-02 07:50:03,Peter L.,2013-03-02 07:50:03,http://www.a1qa.com/,"Minsk, Belarus","<p>QA Manager with comprehensive, cold-blooded...",1,0,0,2211454,32.0,http://www.gravatar.com/avatar/cbd80a5b2a5257d...
40501,54132,1,2014-08-15 10:52:25,user54132,2014-08-15 10:52:25,NaN,NaN,NaN,1,0,0,4894117,NaN,NaN
40502,39943,1,2014-02-10 20:55:19,user1133128,2014-02-10 20:55:19,NaN,NaN,NaN,0,0,0,1151526,NaN,https://www.gravatar.com/avatar/8e983e68f44d99...

# Import the `posts.csv` dataset.

Note that this is a `gzip compressed csv`. In order to read this file correctly, you'll have to read the documentation (or help) of your `pd.read_csv()` function and check the `compression` argument. Try to understand which value of `compression=...` you should put in order to read your dataframe.

In [112]:
posts = pd.read_csv('posts.csv.gzip', compression = 'gzip')

In [113]:
posts

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,NaN,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaN,115367.0,NaN,NaN,NaN
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaN,NaN,NaN,NaN,NaN
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,NaN,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaN,115358.0,NaN,NaN,NaN
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115375.0,NaN,NaN,NaN

## Perform the same as above to understand a bit of your data (head, info, shape)

In [114]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

In [115]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     91976 non-null  int64
 1   PostTypeId             91976 non-null  int64
 2   AcceptedAnswerId       14700 non-null  float64
 3   CreaionDate            91976 non-null  object
 4   Score                  91976 non-null  int64
 5   ViewCount              42921 non-null  float64
 6   Body                   91756 non-null  object
 7   OwnerUserId            90584 non-null  float64
 8   LasActivityDate        91976 non-null  object
 9   Title                  42921 non-null  object
 10  Tags                   42921 non-null  object
 11  AnswerCount            42921 non-null  float64
 12  CommentCount           91976 non-null  int64
 13  FavoriteCount          13246 non-null  float64
 14  LastEditorUserId       44611 non-null  float64
 15  LastEditDate           45038 non-null  object
 16  CommunityOwnedDate     2467 non-null   object
 17  ParentId               47755 non-null  float64
 18  ClosedDate             1610 non-null   object
 19  OwnerDisplayName       2509 non-null   object
 20  LastEditorDisplayName  465 non-null    object
dtypes: float64(7), int64(4), object(10)
memory usage: 14.7+ MB

In [116]:
posts.shape

(91976, 21)

## Rename Id column to post_id and OwnerUserId to user_id.

Again, remember to check that your results are correctly stored inside the dataframe.

In [117]:
posts.rename(columns = {'Id': 'post_id', 'OwnerUserId': 'user_id'}, inplace = True)
posts

,post_id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,user_id,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,NaN,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaN,115367.0,NaN,NaN,NaN
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaN,NaN,NaN,NaN,NaN
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,NaN,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaN,115358.0,NaN,NaN,NaN
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115375.0,NaN,NaN,NaN

## Define new dataframes for users and posts with the following selected columns:

**users columns**: user_id, Reputation, Views, UpVotes, DownVotes  
**posts columns**: post_id, Score, user_id, ViewCount, CommentCount, Body

In [118]:
users_columns = users[['user_id', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts_columns = posts[['post_id', 'Score', 'user_id', 'ViewCount', 'CommentCount', 'Body']]

**Note:** Check the new posts dataframe's info. What is the most noticeable change? 

Explain why we have chosen only some columns of it in terms of efficiency.

In [119]:
# the number of rows. 
# They are both filled with information.

In [120]:
users_columns

       user_id  Reputation  Views  UpVotes  DownVotes
0           -1           1      0     5007       1920
1            2         101     25        3          0
2            3         101     22       19          0
3            4         101     11        0          0
4            5        6792   1145      662          5
...        ...         ...    ...      ...        ...
40498     6726           1      0        0          0
40499    53426         101      1        2          0
40500    21468         101      1        0          0
40501    54132           1      1        0          0
40502    39943           1      0        0          0

[40503 rows x 5 columns]

In [121]:
posts_columns

,post_id,Score,user_id,ViewCount,CommentCount,Body
0,1,23,8.0,1278.0,1,<p>How should I elicit prior distributions fro...
1,2,22,24.0,8198.0,1,<p>In many different statistical methods there...
2,3,54,18.0,3613.0,4,<p>What are some valuable Statistical Analysis...
3,4,13,23.0,5224.0,2,<p>I have two groups of data. Each with a dif...
4,5,81,23.0,NaN,3,"<p>The R-project</p>\n\n<p><a href=""http://www..."
...,...,...,...,...,...,...
91971,115374,2,805.0,NaN,2,"<p>This grew too long for a comment, but I thi..."
91972,115375,0,49365.0,9.0,0,<p>Assume a classification problem where there...
91973,115376,1,55746.0,5.0,2,<p>My goal is to create a formula that can giv...
91974,115377,0,805.0,NaN,0,<p>As a practical answer to the real questions...
91975,115378,0,7250.0,NaN,0,<p>Decision trees are notoriously <strong>unst...

# Merge the new dataframes you have created, of users and posts. Create a dataframe called `posts_from_users`

You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes. 

Think carefully which should be the key(s) for your merging.

In [122]:
posts_from_users = pd.merge(users_columns , posts_columns, how = 'inner')

In [123]:
posts_from_users

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,2175,0,NaN,0,<p><strong>CrossValidated</strong> is for stat...
1,-1,1,0,5007,1920,8576,0,NaN,0,NaN
2,-1,1,0,5007,1920,8578,0,NaN,0,NaN
3,-1,1,0,5007,1920,8981,0,NaN,0,"<p>""Statistics"" can refer variously to the (wi..."
4,-1,1,0,5007,1920,8982,0,NaN,0,This generic tag is only rarely suitable; use ...
...,...,...,...,...,...,...,...,...,...,...
90878,55734,1,0,0,0,115352,0,16.0,0,"<p>For example, I was looking at <a href=""http..."
90879,55738,11,0,0,0,115360,2,40.0,4,<p>Is Student's t test a Wald test?</p>\n\n<p>...
90880,55742,6,0,0,0,115366,1,17.0,0,<p>Does any standard statistical software like...
90881,55744,6,1,0,0,115370,1,13.0,2,<p>im analyzing an article for my studies with...
90882,55746,106,1,0,0,115376,1,5.0,2,<p>My goal is to create a formula that can giv...

## Check the number of duplicated rows.

Remember you can sum the results of a mask to get how many numbers the True value appeared in the results. This occurs because `True` is interpreted as `1` in Python whereas `False` is interpreted as `0`.

In [124]:
posts_from_users.duplicated().value_counts()

False    90584
True       299
dtype: int64

## Find those duplicate values and try to understand what happened.

*Hint:* You can use the argument `keep=False` from the `.duplicated()` method to bring the duplication.

*Hint 2:* You can sort the values `by=['user_id', 'post_id']` to see them in order.

In [125]:
posts_from_users[posts_from_users.duplicated(keep=False)].sort_values(by = ['user_id', 'post_id'])

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
8396,760,168,13,13,0,1289,7,1139.0,8,<p>I am having difficulties to select the righ...
8399,760,168,13,13,0,1289,7,1139.0,8,<p>I am having difficulties to select the righ...
8397,760,168,13,13,0,8625,6,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
8400,760,168,13,13,0,8625,6,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
8398,760,168,13,13,0,23987,0,62.0,3,<p>I was studying on a PAMI article and I have...
...,...,...,...,...,...,...,...,...,...,...
90343,54711,4,18,0,0,114527,0,45.0,5,<p>From Shapiro-Wilk's test I see that the res...
90368,54741,16,1,0,0,113334,3,122.0,9,<p>I am confused on what I have read about the...
90369,54741,16,1,0,0,113334,3,122.0,9,<p>I am confused on what I have read about the...
90460,54911,1,1,0,0,113691,0,36.0,11,<p>I extract data related to a movie by sentim...
90461,54911,1,1,0,0,113691,0,36.0,11,<p>I extract data related to a movie by sentim...

## Should you drop it? If you think it is reasonable to drop it, then drop it.

Think: How would you correct it in the first place? That is, what was wrong in the first place?

*Hint:* There's a pandas method to drop duplicates. If you wanted to do it by hand, you could select the indexes of the duplicated values and `.drop()` it.

In [126]:
posts_from_users.drop_duplicates(inplace = True)
posts_from_users

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,2175,0,NaN,0,<p><strong>CrossValidated</strong> is for stat...
1,-1,1,0,5007,1920,8576,0,NaN,0,NaN
2,-1,1,0,5007,1920,8578,0,NaN,0,NaN
3,-1,1,0,5007,1920,8981,0,NaN,0,"<p>""Statistics"" can refer variously to the (wi..."
4,-1,1,0,5007,1920,8982,0,NaN,0,This generic tag is only rarely suitable; use ...
...,...,...,...,...,...,...,...,...,...,...
90878,55734,1,0,0,0,115352,0,16.0,0,"<p>For example, I was looking at <a href=""http..."
90879,55738,11,0,0,0,115360,2,40.0,4,<p>Is Student's t test a Wald test?</p>\n\n<p>...
90880,55742,6,0,0,0,115366,1,17.0,0,<p>Does any standard statistical software like...
90881,55744,6,1,0,0,115370,1,13.0,2,<p>im analyzing an article for my studies with...
90882,55746,106,1,0,0,115376,1,5.0,2,<p>My goal is to create a formula that can giv...

## 10. How many missing values do you have in your merged dataframe? On which columns?

In [127]:
posts_from_users.isnull().sum()

user_id             0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
post_id             0
Score               0
ViewCount       48396
CommentCount        0
Body              220
dtype: int64

## Select only the rows in which there at least some missing values.

In [128]:
posts_from_users[posts_from_users.isnull().any(axis=1)]

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,2175,0,NaN,0,<p><strong>CrossValidated</strong> is for stat...
1,-1,1,0,5007,1920,8576,0,NaN,0,NaN
2,-1,1,0,5007,1920,8578,0,NaN,0,NaN
3,-1,1,0,5007,1920,8981,0,NaN,0,"<p>""Statistics"" can refer variously to the (wi..."
4,-1,1,0,5007,1920,8982,0,NaN,0,This generic tag is only rarely suitable; use ...
...,...,...,...,...,...,...,...,...,...,...
90817,55605,1,2,0,0,115106,0,NaN,0,"<p>Recasting this as a time-to-event problem, ..."
90820,55609,1,1,0,0,115115,2,NaN,0,"<p>This is my favourite:</p>\n\n<p>""To be sure..."
90827,55621,1,1,0,0,115213,0,NaN,0,<p>Here is the part that explains answer to yo...
90835,55637,26,4,0,0,115170,1,NaN,0,"<p>When you say class, I hope you mean 'output..."
90874,55729,16,1,0,0,115338,0,NaN,0,<p>All items are not solved fully correctly in...

## You will need to make something with missing values.  Will you clean or filling them? 

Pay attention. There can be different reasons for the missings numbers. Look at the `user_id` of some of them, look at the body of the message. Which ones you're sure of what should be and which one can you infer? Don't hurry up, take a look at your data.

In [129]:
posts_from_users.dropna(inplace=True)
posts_from_users

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
211,5,6792,1145,662,5,6,152,29229.0,5,"<p>Last year, I read a blog post from <a href=..."
219,5,6792,1145,662,5,103,28,1990.0,6,<p>What is the best blog on data visualization...
221,5,6792,1145,662,5,125,75,29261.0,2,<p>Which is the best introductory textbook for...
233,5,6792,1145,662,5,423,156,64481.0,7,<p>This is one of my favorites:</p>\n\n<p><img...
238,5,6792,1145,662,5,562,10,1005.0,1,<p>This is a fairly general question:</p>\n\n<...
...,...,...,...,...,...,...,...,...,...,...
90878,55734,1,0,0,0,115352,0,16.0,0,"<p>For example, I was looking at <a href=""http..."
90879,55738,11,0,0,0,115360,2,40.0,4,<p>Is Student's t test a Wald test?</p>\n\n<p>...
90880,55742,6,0,0,0,115366,1,17.0,0,<p>Does any standard statistical software like...
90881,55744,6,1,0,0,115370,1,13.0,2,<p>im analyzing an article for my studies with...
90882,55746,106,1,0,0,115376,1,5.0,2,<p>My goal is to create a formula that can giv...

In [130]:
posts_from_users.fillna(0)

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
211,5,6792,1145,662,5,6,152,29229.0,5,"<p>Last year, I read a blog post from <a href=..."
219,5,6792,1145,662,5,103,28,1990.0,6,<p>What is the best blog on data visualization...
221,5,6792,1145,662,5,125,75,29261.0,2,<p>Which is the best introductory textbook for...
233,5,6792,1145,662,5,423,156,64481.0,7,<p>This is one of my favorites:</p>\n\n<p><img...
238,5,6792,1145,662,5,562,10,1005.0,1,<p>This is a fairly general question:</p>\n\n<...
...,...,...,...,...,...,...,...,...,...,...
90878,55734,1,0,0,0,115352,0,16.0,0,"<p>For example, I was looking at <a href=""http..."
90879,55738,11,0,0,0,115360,2,40.0,4,<p>Is Student's t test a Wald test?</p>\n\n<p>...
90880,55742,6,0,0,0,115366,1,17.0,0,<p>Does any standard statistical software like...
90881,55744,6,1,0,0,115370,1,13.0,2,<p>im analyzing an article for my studies with...
90882,55746,106,1,0,0,115376,1,5.0,2,<p>My goal is to create a formula that can giv...

## Adjust the data types in order to avoid future issues. Which ones should be changed?

In [133]:
posts_from_users.dtypes

user_id           int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
post_id           int64
Score             int64
ViewCount       float64
CommentCount      int64
Body             object
dtype: object

In [136]:
posts_from_users['user_id'] = posts_from_users['user_id'].astype('category')
posts_from_users['ViewCount'] = posts_from_users['ViewCount'].astype('int64')
posts_from_users.dtypes

user_id         category
Reputation         int64
Views              int64
UpVotes            int64
DownVotes          int64
post_id            int64
Score              int64
ViewCount          int64
CommentCount       int64
Body              object
dtype: object

# Bonus 1: (filtering) What is the average number of comments for users who are above the average reputation?

*Hint:* Calculate the average of the user Reputation. Store it in a variable called `avg_reputation` and then use that variable for filtering the dataset and generating the results for each case (for the case in which `Reputation > {avg_reputation}` and etc.

*Hint 2:* You could create a variable based on that condition and use the group by function perform the task above.

In [137]:
posts_from_users.head()

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
211,5,6792,1145,662,5,6,152,29229,5,"<p>Last year, I read a blog post from <a href=..."
219,5,6792,1145,662,5,103,28,1990,6,<p>What is the best blog on data visualization...
221,5,6792,1145,662,5,125,75,29261,2,<p>Which is the best introductory textbook for...
233,5,6792,1145,662,5,423,156,64481,7,<p>This is one of my favorites:</p>\n\n<p><img...
238,5,6792,1145,662,5,562,10,1005,1,<p>This is a fairly general question:</p>\n\n<...

In [166]:
avg_reputation = posts_from_users['Reputation'].mean()
x = (posts_from_users['Reputation'] > avg_reputation)
posts_from_users['CommentCount'][x].mean()

2.2574113073060103

In [168]:
reputation = posts_from_users[['user_id', 'CommentCount', 'Reputation']].groupby(by = 'user_id', as_index = False).mean()
reputation[reputation['Reputation'] > avg_reputation]

      user_id  CommentCount  Reputation
0           5      2.470588      6792.0
3           8      2.250000      6764.0
5          13      2.000000       817.0
8          22      1.833333       591.0
11         25      4.583333      4968.0
...       ...           ...         ...
15601   44451      0.000000      1460.0
15609   44469      0.000000       599.0
17218   49398      3.000000       574.0
17656   52554      7.666667      2294.0
18222   54099      4.166667       719.0

[465 rows x 3 columns]

# Bonus 2: (grouping) Group your dataframe by the Reputation of your user. Calculate the mean value of ViewCount and CommentCount for each reputation value.

Suppose the missing values on ViewCount are due a systemic error and you wanted to guess what values should have been there in the first place, but the system abended.

Would that be an interesting candidate for inputting the value for the missing `ViewCount` values? If so, input it with these values.

In [180]:
posts_from_users.groupby(['Reputation']).mean()[['ViewCount', 'CommentCount']]

              ViewCount  CommentCount
Reputation
1            123.006787      1.748303
2            438.916667      2.333333
3            164.804706      1.720000
4            230.512821      2.410256
5            321.833333      2.125000
...                 ...           ...
31170       2318.625000      1.375000
37083       1201.666667      2.000000
44152        461.419355      3.645161
65272        570.625000      2.750000
87393       1191.500000      6.750000

[872 rows x 2 columns]

In [182]:
posts_from_users[['ViewCount', 'Reputation', 'CommentCount']].groupby(by = 'Reputation').mean()

              ViewCount  CommentCount
Reputation
1            123.006787      1.748303
2            438.916667      2.333333
3            164.804706      1.720000
4            230.512821      2.410256
5            321.833333      2.125000
...                 ...           ...
31170       2318.625000      1.375000
37083       1201.666667      2.000000
44152        461.419355      3.645161
65272        570.625000      2.750000
87393       1191.500000      6.750000

[872 rows x 2 columns]

## refs

Sample database used: https://relational.fit.cvut.cz/dataset/Stats

Stack-overflow database: https://www.brentozar.com/archive/2015/10/how-to-download-the-stack-overflow-database-via-bittorrent/